@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.flex {
  display: flex;
}

.product-title {
  color: #f6db91;
  font-size: 48px;
  font-weight: lighter;
  font-family: "EB Garamond";
}

.rad-pics {
  border-radius: 20%;
}

.section-title {
  color: #f6db91;
  font-size: 32px;
  font-weight: lighter;
  margin-bottom: 48px;
}

.more-on-soapify {
  color: #f6db91;
  font-size: 36px;
  font-weight: lighter;
  margin-bottom: 48px;
  font-family: "EB Garamond";
}

.mt-10 {
  margin-top: 10px;
}



.product-pictures {
  width: 256px;
  height: 256px;
}


.item-start {
  align-items: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.content-start {
  justify-content: start;
  align-items: start;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #64264d;
  overflow-x: hidden;
  max-width: 100%;
  z-index: -2;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.product-container {
  margin: -50px auto 0px auto;;
  padding: 18px;
  display: flex;
  min-height: 50vh; /* Center the content vertically */
}

.w-50 {
  width: 50%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.container-100 {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

header {
  background-color: #64264d;
  padding: 20px 0;
  width: 100%; /* Stretch the header across the entire container */
  display: flex;
  font-family: "EB Garamond";
}

.bubble1 {
  position: absolute;
  left: 150vh;
  top: 50vh;
  z-index: 1;
  /* Additional styling properties */
  width: 50vh;
  height: 50vh;
}

.bubble2 {
  position: absolute;
  bottom: 50px;
  right: 50px;
  /* Additional styling properties */
  width: 200px;
  height: 200px;
}

.bubble3 {
  position: absolute;
  left: 0vh;
  top: 50vh;
  /* Additional styling properties */
  width: 70vh;
  height: 70vh;
  z-index: -0;
}

.bubble4 {
  position: absolute;
  left: 10vh;
  top: 105vh;
  /* Additional styling properties */
  width: 50vh;
  height: 50vh;
  z-index: -0;
}

.bubble5 {
  position: absolute;
  left: 150vh;
  top: 110vh;
  /* Additional styling properties */
  width: 50vh;
  height: 50vh;
  z-index: -0;
}

.bubble6 {
  position: absolute;
  left: 153vh;
  top: 188vh;
  /* Additional styling properties */
  width: 50vh;
  height: 50vh;
  z-index: -0;
}

.bubble7 {
  position: absolute;
  left: 0;
  top: 250vh;
  /* Additional styling properties */
  width: 25vh;
  height: 25vh;
}

.square-yellow-container {
  width: auto;
  height: auto;
  background-color: #c1ac76;
  padding: 10px;
}

.logo {
  justify-content: center;
  margin-bottom: 42px;
  /* Centered logo styles can be added here */
}

nav {
  /* Navigation bar styles can be added here */
  text-decoration: none;
  text-transform: uppercase;
  font-size: 42px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 100px;
}

nav ul li a {
  text-decoration: none;
  color: #d1c6ee;
}

nav ul li a:hover {
  color: #d1c6ee;
}

footer {
  background-color: #896475;
  width: 100%;
  font-family: "Cormorant Garamond";
  color: #f6db91;
  font-size: 18px;
  z-index: -1;
}

footer p {
  margin: 0;
}

.content-start {
  justify-content: flex-start;
}

.content-center {
  justify-content: center;
}

.content-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.content-wrapper {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at center,
    rgba(255, 244, 199, 0.8),
    rgba(255, 244, 199, 0)
  ); /* Soft yellow gradient */
  z-index: -1; /* Ensure overlay is on top of content */
}

.circle {
  width: 64px;
  height: 64px;
  background-color: #7b6589;
  border-radius: 50%;
}

.circle-selected {
  background-color: #c1ac73;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.text-right {
  text-align: right;
}

.content-space-between {
  justify-content: space-between;
}

.item-center {
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.test-border {
  border: 1px solid black;
}

.w-100 {
  width: 100%;
}

.price-box {
  width: 224px;
  height: 84px;
}

.more-from-soapify-price {
  margin-top: -8vh;
  color: #64264D;

}

.mt-n-10 {
  margin-top: -10px;
}

.price {
  position: relative;
  margin-top: -88px;
  font-family: 'EB Garamond';
  color: #64264d;
  font-size: 42px;
}

.order-now {
  background-color: #c1ac73; /* Adjust to match your desired purple color */
  width: 48%;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 40px; /* Adjust for desired corner roundness */
  cursor: pointer; /* Indicates the element is clickable */
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'EB Garamond';
  font-size: 24px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.order-now:hover {
  background-color: #4D1A3C; /* Darken the button on hover */
}

.blur-overlay {
  background-image: url("images/light 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
